/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

i {
    font-size: 20px;
    color: #919191;
}

.c-grey {
    color: rgba(0, 0, 0, 0.5);
}

/* /common */

.body-wrapper {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(#009688 125px, #e5ddd5 125px, #d4dbd9);
}

#root {
    display: flex;
    height: 95%;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* left */
.main-left {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    min-width: calc(100% / 3);
}

/* user bar */
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    height: 60px;
    padding: 10px 15px;
    background-color: #ededed;
}

.user a {    
    padding-left: 15px;
    padding-right: 15px;
}

#user-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.username {
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
    flex-grow: 1;
}

/* notifications */
.notifications {
    display: flex;
    align-items: center;
    min-height: 90px;
    height: 90px;
    padding: 10px 15px;
    background-color: #9de1fe;
}

.notifications span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.notifications a:not(#bell-box):hover {
    text-decoration: underline;
}

#bell-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#bell-box i {
    color: #9de1fe;
}

/* search */
.search {
    display: flex;
    align-items: center;
    min-height: 50px;
    height: 50px;
    padding: 7px 15px;    
    border-bottom: 1px solid #ededed;
    background-color: #f6f6f6;
}

.searchbar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #fff;
}

.searchbar .fa-search {
    font-size: 15px;
    cursor: pointer;
}
.searchbar input {
    width: 100%;
    margin-left: 40px;
    border: none;
    outline: none;
}

/* contacts chats */
.contacts {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    background-color: #fff;
}

.contact-box {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 10px 15px;
    cursor: pointer;
}
.contact-box:after {
    position: absolute;
    bottom: 0;
    right: 15px;
    content: '';
    border-bottom: 1px solid #ededed;
    width: calc(100% - 100px);
}
.contact-box:hover {
    background-color: #f6f6f6;
}
.active-contact {
    background-color: #ededed;
}

.contact-pic {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    width: 100%;    
}

.contact-name {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.last-msg-date {
    align-self: flex-start;
    text-align: right;  
}


/* right */
.main-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* current chat titlebar */
.current-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    height: 60px;
    padding: 10px 15px;
    background-color: #ededed;
    border-left: 1px solid #d4dbd9;
    border-bottom: 1px solid #d4dbd9;
}

.current-info {
    flex-grow: 1;
    cursor: pointer;
}

#current-pic {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.current-name {
    display: block;
    font-size: 18px;
}

.current-actions a {    
    padding-left: 15px;
    padding-right: 15px;
}

/* main chat window */
.current-chat {
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
    flex-grow: 1;
    overflow-y: auto;
    background-image: url("../img/mine.jpg");
}

.msg-text {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 8px 60px 8px 10px; 
    margin: 5px 0;
    max-width: 65%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);    
}

.user-msg {
    align-self: flex-end;  
    border-radius: 10px 0 10px 10px;
    background-color: #fff;
}
.chat-msg {
    align-self: flex-start;
    border-radius: 0 10px 10px;
    background-color: #dcf8c6;
    
}
.user-msg::before,
.chat-msg::before {
    content: "";
    position: absolute;
    top: 0px;
    filter: drop-shadow(0px 2px rgba(0, 0, 0, 0.2));
}
.user-msg::before {
    border-left: 15px solid #fff;
    border-right: 1px solid transparent;
    border-bottom: 15px solid transparent;
    right: -16px;
}
.chat-msg::before {
    border-left: 1px solid transparent;
    border-right: 15px solid #dcf8c6;
    border-bottom: 15px solid transparent;
    left: -16px;
}

.msg-time {
    position: absolute;
    right: 10px;
    bottom: 4px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

/* new message */
.new-message-bar {
    display: flex;
    align-items: center;
    min-height: 60px;
    height: 60px;
    padding: 10px 15px;
    background-color: #ededed;
    border-left: 1px solid #d4dbd9;
}
.new-message-bar a {
    padding: 0 15px;
}
.new-message-bar a:last-child {
    padding: 0 15px 0 30px;
}
.new-message-bar a i {
    font-size: 24px;
}

.new-message {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #fff;
    flex-grow: 1;
    border: none;
    outline: none;
}