<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        <!-- body wrapper -->
        <div class="body-wrapper">

            <!-- main window / Vue root -->
            <main id="root">

                <!-- main left column -->
                <div class="main-left">

                    <!-- user info bar -->
                    <div class="user">
                        <img id="user-pic" src="https://lh3.googleusercontent.com/ogw/ADGmqu88JKFdsgov-fjSoJjCUiUzhOMU7_GRTAC7-ZUA3w=s83-c-mo" alt="user profile pic">
                        <span class="username">Marco Canopoli</span>

                        <!-- buttons -->
                        <div>
                            <a href="#">
                                <i class="fas fa-spinner"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>  
                        <!-- /buttons -->

                    </div>
                    <!-- /user info bar -->

                    <!-- notifications control -->
                    <div class="notifications">
                        <a id="bell-box" href="#">
                            <i class="fas fa-bell-slash"></i>
                        </a>
                        <div>
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a class="c-grey" href="#">Attiva notifiche desktop ></a>
                        </div>
                    </div>
                    <!-- /notifications control -->

                    <!-- chats search bar -->
                    <div class="search">
                        <div class="searchbar">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat">                         
                        </div>
                    </div>
                    <!-- chats search bar -->

                    <!-- contacts & groups chats -->
                    <div class="contacts">

                        <!-- single contact chat -->
                        <div    v-for="(contact, index) in contacts" 
                                @click="setActive(index)"
                                class="contact-box"
                                :class="{'active-contact': index == activeChatIndex}">
                            <img class="contact-pic" :src="getContactImg(contact)" :alt="contact.name">
                            <div class="contact-info">
                                <span class="contact-name">{{ contact.name }}</span>
                                <span class="c-grey">{{ text40(getLastMsgText(contact)) }}</span>
                            </div>
                            <span class="last-msg-date c-grey">{{ getLastMsgDate(contact) }}</span>
                        </div>
                        <!-- /single contact chat -->
                        
                    </div>
                    <!-- /contacts & groups chats -->

                </div>
                <!-- /main left column -->
                
                <!-- main right column -->
                <div class="main-right">

                    <!-- current chat info -->
                    <div class="current-header">
                        <img id="current-pic" :src="getActiveImg()" alt="current chat pic">
                        <div class="current-info">
                            <span class="current-name">{{ getActiveContact().name }}</span>
                            <span class="c-grey">Ultimo accesso: {{ getLastMsgDate(getActiveContact()) }}</span>
                        </div>

                        <!-- actions -->
                        <div class="current-actions">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>
                        <!-- /actions -->

                    </div>
                    <!-- /current chat info -->
                    
                    <!-- current chat -->                    
                    <div class="current-chat">

                        <p  v-for="message in getActiveContact().messages"
                            class="msg-text"
                            :class="message.status == 'sent' ? 'user-msg' : 'chat-msg'">
                            {{ message.text }}
                            <span class="msg-time">{{ getMsgTime(message) }}</span>
                        </p>

                    </div>
                    <!-- /current chat -->

                    <div class="new-message-bar">

                        <!-- emojis -->
                        <a href="#">
                            <i class="far fa-laugh"></i>
                        </a>
                        <!-- /emojis -->

                        <!-- attach to msg-->
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                        <!-- /attach to msg-->

                        <!-- text msg input -->
                        <input class="new-message" type="text" placeholder="Scrivi un messaggio">
                        <!-- /text msg input -->

                        <!-- record  vocal message -->
                        <a href="#">
                            <i class="fas fa-microphone"></i>
                        </a>
                        <!-- /record  vocal message -->

                    </div>
                </div>
                <!-- /main right column -->

            </main>
            <!-- main window / Vue root -->

        </div>
        <!-- /body wrapper -->

        <script src="js/script.js"></script>
    </body>
</html>